# Server Configuration
PORT=3001
NODE_ENV=development

# Gemini AI API Key (NEVER expose to extension or frontend)
GEMINI_API_KEY=adfklacjdakcja

GOOGLE_CLIENT_ID=dklcjaclkpttnblef9is74kpffj8acdc
GOOGLE_CLIENT_SECRET=Gcxzvjjkadhckh.adoci
AUTH_SECRET=cajkadcoiaj12e.cadcaf

# Database URL (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/applyflow_db

# JWT Secret for modular authentication
JWT_SECRET=super_secret_jwt_key_change_in_production